@charset "utf-8";
/* ========================================================== */
/*                                                            */
/* file		: base                                            */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* base s =================================================== */
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--background);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: $r;
  color: #000;
}
:root[color-theme='light'] {
  --background: #fff;
  --fontColor: #1f1f1fea;
}

:root[color-theme='dark'] {
  --background: #1f1f1fea;
  --fontColor: #fff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

// content padding
.con_pd {
  padding: 0 80px;
}

//text_heading - heading List
.heading_1 {
  font-size: 48px;
  font-weight: $b;
}
.heading_2 {
  font-size: 32px;
  font-weight: $b;
}
.heading_3 {
  font-size: 24px;
  font-weight: $sb;
}
.heading_4 {
  font-size: 20px;
  font-weight: $sb;
}
.heading_5 {
  font-size: 16px;
  font-weight: $r;
}
.heading_6 {
  font-size: 12px;
  font-weight: $r;
  margin-bottom: 0;
}

// color_palette - color List
.prime_color {
  background-color: $prime_color;
}
.sub_color {
  background-color: $sub_color;
}
.color_1 {
  background-color: $color_1
}
.color_2 {
  background-color: $color_2;
}
.color_3 {
  background-color: black;
  color: #fff;
}
.color_4 {
  background-color: $color_4;
}
.color_5 {
  background-color: $color_5;
}

// components - btn List
.btn_1 {
  background-color: $prime_color;
  color: #fff;
  line-height: 48px;
  width: 115px;
  height: 48px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  display: block;
  &:hover {
    background-color: #3E2DB2;
    transition: .5s;
  }
}

.btn_2 {
  line-height: 46px;
  height: 48px;
  text-align: center;
  width: 147px;
  border: 2px solid #14142B;
  display: inline-block;
  cursor: pointer;
  &:hover {
    border: 2px solid $sub_color;
    color: $sub_color;
    transition: .5s;
  }
}

.btn_listen {
  overflow: hidden;
  color: $prime_color;
  display: inline-block;
  height: 100%;
  font-weight: $sb;
  &:hover {
    color: #3E2DB2;
    transition: .5s;
      .play {
        background-color: #3E2DB2;
        transition: .5s;
      }
  }
  i.play {
    background: url(../../../assets/images/ico/ico_play.png) no-repeat center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $prime_color;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.btn_read {
  font-weight: $sb;
  color: $prime_color;
  display: inline-block;
  height: 100%;
  &:hover {
    color: #3E2DB2;
    transition: .5s;
  }
}

// category potcasts - potcasts list
.cate_pot_on {
  background-color: $prime_color;
  height: 48px;
  line-height: 48px;
  border-radius: 28.5px;
  color: #fff;
  font-weight: $b;
  a {
    display: block;
    height: 100%;
    padding: 0 32px;
    text-align: center;
  }
}

.cate_pot {
  height: 48px;
  line-height: 48px;
  border-radius: 28.5px;
  color: $color_4;
  font-weight: $b;
  border: 1px solid $color_4;
  a {
    display: block;
    height: 100%;
    padding: 0 32px;
    text-align: center;
  }
}

// sns
.facebook_b {
  background: url(../../../assets/images/ico/ico_facebook.svg) no-repeat center;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.linkedIn_b {
  background: url(../../../assets/images/ico/ico_linkedIn.svg) no-repeat center;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.instagram_b {
  background: url(../../../assets/images/ico/ico_instagram.svg) no-repeat center;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.facebook_s {
  background: url(../../../assets/images/ico/ico_facebook.svg) no-repeat center / 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.linkedIn_s {
  background: url(../../../assets/images/ico/ico_linkedIn.svg) no-repeat center / 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.instagram_s {
  background: url(../../../assets/images/ico/ico_instagram.svg) no-repeat center / 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
}
/* base e =================================================== */
/* ---------------------------------------------------------- */