@charset "utf-8";
/* ========================================================== */
/*                                                            */
/* file		: footer                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* footer s ================================================= */

// footer_sponsors
.footer_sponsors {
  color: #fff;
  padding: 72px 0;
  margin: 0 80px;
  background-color: $prime_color;
  text-align: center;
  transform: translateY(30%);
  .logoipsum {
    margin-top: 64px;
    font-size: 0;
    img {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//footer_con
.footer_con {
    color: #fff;
    width: 100%;
    background-color: $black;
    padding: 195px 80px 96px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .pages,
    .reach_us,
    .subscribe {
        h4 {
            font-weight: $b;
            margin-bottom: 32px;
            font-size: 20px;
        }
        li {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.footer_con {
    .subscribe {
        ul {
            li {
                margin-bottom: 32px;
            }
        }
    }
}

//copyright
.copyright {
    height: 64px;
    line-height: 64px;
    color: #fff;
    background-color: $prime_color;
    text-align: center;
    font-weight: $b;
}

/* ---------------------------------------------------------- */

//mdq pc
@media only screen and (max-width: 768px) {

  .footer_sponsors {
    padding: 42px 42px !important;
    transform: inherit;
    .logoipsum {
      margin-top: 34px;
      img {
          margin-right: 10px !important;
          padding: 10px;
      }
    }
  }

  .footer_con {
      padding: 60px 20px;
      flex-direction: column;
      transform: inherit;
    .logo_wrap {
        margin-bottom: 40px;
    }
    .pages,
    .reach_us {
        margin-bottom: 60px;
    }
    .subscribe {
        margin-bottom: 0;
    }
  }

}

//mdq tab
@media only screen and (max-width: 425px) {

  .footer_sponsors {
    transform: inherit;
    .logoipsum {
      img {
          width: 45%;
      }
    }
  }

  .footer_con {
    .logo_wrap {
      margin-bottom: 50px;
    }
    .pages,
    .reach_us {
      margin-bottom: 50px;
    }
    .subscribe {
      margin-bottom: 0px;
    }
  }

}

/* footer e ================================================= */
/* ---------------------------------------------------------- */