@charset "utf-8";
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */
header {
  position: relative;
  height: 72px;
  line-height: 72px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 30;
  overflow: hidden;
  h1 {
    margin: 0;
    a {
      display: block;
      img {
        vertical-align: middle;
      }
    }
  }
}

// mdq pc
@media only screen and (max-width: 768px) {
  header {
    overflow: inherit;
    padding: 0 20px !important;
    overflow-x: clip !important;
  }
}

/* header e ================================================= */
/* ---------------------------------------------------------- */